
Antique Shop/obj/project.assets.json
Antique Shop/obj/Debug/netcoreapp3.1/Antique Shop.GeneratedMSBuildEditorConfig.editorconfig
Antique Shop/obj/Antique Shop.csproj.nuget.dgspec.json
Antique Shop/obj/Antique Shop.csproj.nuget.g.props
