@{
    ViewData["Title"] = "Create Auction";
}
@model Antique_Shop.Models.Auction;
<form asp-controller="Auction" asp-action="Create" method="post">

    <div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <button id="Button" type="submit" name="submit" formmethod="post" class="btn btn-secondary btn-sm">Dodaj</button>
        </div>
    </div>
</form>
