@{
    ViewData["Title"] = "Create Auction";
}
@model Antique_Shop.Models.Auction;
<form asp-controller="Auction" asp-action="Create" method="post">

    <div>
        <div>
            <label asp-for="id"></label>
            <input asp-for="id" />
            <div>
                <label asp-for="name"></label>
                <input asp-for="name" />
                <div>
                    <a asp-controller="Auction" asp-action="Create" method="post" class="btn btn-dark">Dodaj</a>
                </div>
            </div>
</form>
