@{
    ViewData["Title"] = "AuctionList";
}
@model IEnumerable<Antique_Shop.Models.Auction>

.<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AuctionList</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var auction in Model)
                {
                    <tr>
                        <td>@auction.Id  </td>
                        <td>@auction.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>