@page
@model Antique_Shop.Views.Login.IndexModel
@{
}

<br />
<div class="container row">
    <div class="col-7">
        <form runat="server">
            Login:
            <br />
            <input name="TextBox1" id="TextBox1" type="text">
            <br />
            Password:
            <br />
            <input name="TextBox2" id="TextBox2" type="text">
            <br /><br />
            <a class="btn btn-info form-control">Login</a>
        </form>
    </div>
    <div class="col-3">
    </div>
</div>
