@{
    ViewData["Title"] = "Sign up here!";
}
@model Antique_Shop.ViewModel.Registration
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
                    <h1 style="text-align: center;">Registration</h1><br/>
                    <form method="post" class="form-group row" style="justify-content: center;">
                        <div style="margin-left: auto;
                                    margin-top: 0;
                                    margin-right: auto;
                                    margin-bottom: 0;">
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span><input asp-for="Login" class="form-control" placeholder="Login" />
                                </div>
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span><input asp-for="Password" class="form-control" placeholder="Password" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span><input asp-for="Email" class="form-control" placeholder="Email" />
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-id-card"></i> </span><input asp-for="FirstName" class="form-control" placeholder="First name" />
                                </div>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="far fa-id-card"></i> </span><input asp-for="LastName" class="form-control" placeholder="Last name" />
                                </div>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div style="margin-right: auto;
                                    margin-left: auto;">
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-road"></i> </span><input asp-for="Street" class="form-control" placeholder="Street" />
                                </div>
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-home"></i> </span><input asp-for="ApartmentNumber" class="form-control" placeholder="Apartment number" />
                                </div>
                                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-archive"></i> </span><input asp-for="Postcode" class="form-control" placeholder="Postcode" />
                                </div>
                                <span asp-validation-for="Postcode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-building"></i> </span><input asp-for="City" class="form-control" placeholder="City" />
                                </div>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-phone"></i> </span><input asp-for="PhoneNumber" class="form-control" placeholder="Phone number" />
                                </div>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
						<div style="width:100%;display:flex;justify-content:center;align-content:center">
							<button type="submit" class="btn btn-outline-primary ">Register</button>
						</div>
                    </form>
                </div>
            </div>
        </div>
