@{
    ViewData["Title"] = "Details";
}
<h1>@ViewData["Title"]</h1>

@model Antique_Shop.Models.Auction

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Details</title>
</head>
<body>
    @Model.Id
</body>
</html>