@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>tutej bydom wyświetlane aukcje</p>
    <p>Mati wywal zakładkę Auctions i to co jest w <b>Views/Auction/Index.cshtml</b> wrzuć tutaj do <b>Views/Home/Index.cshtml</b> </p>
</div>
